*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100wh;
    height: 100%;
    font-family: Poppins,sans-serif;
    font-size: 16px;
    background-color: #ccc;

}
.about-container{
    padding: 4px;
    max-width: 375px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:2em;
    margin: 0.2em auto;
    background-color: #fff;
    border-top-right-radius: 32px;
    padding: 4em 0.7em;

}
.headline-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.title{
    font-family: inherit;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
}
.description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.support-text{
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 24px;
    color:#7F8CFF;
}
.action-btn{
    display: inline-block;
    width: 150px;
    font-family: inherit;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #396DF2;
    background-color: #fff;
    padding:8px 4px;
    border-radius: 4px;
    border: 1px solid #396DF2;
}

.action-btn:hover{
  
    color: #fff;
    background-color: #396DF2;
}
.social-icons{
    width: 200px;
    height: auto;
}
.language-contianer{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

}
.list-header{
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 1em;
}
.language-img{
    width: 303px;
    height: auto;
    border-radius: 8px;

}
.other-skill{
    width: 327px;
    height: 72px

}